@ci-green: #498c45;
@ci-highlight: lighten(@ci-green, 10%);
@ci-grey: #F5F5F5;

html {
    min-height: 100%;
    background-image: url("img/luftaufnahme-bg.jpg");
    background-size: cover;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

    :link, :visited {
        text-decoration: none;
        color: darkblue;
    }

    :link:hover, :link:active {
        text-decoration: underline;
        color: blue;
    }
}

header {
    color: darken(@ci-green, 10%);
    text-align: center;
    background-color: @ci-grey;
    height: 60px;

    :link:hover {
        text-decoration: none;
    }

    .wappen {
        position: relative;
        height: 70px;
        top: .2rem;
    }

    h1 {
        margin: 0;
        display: inline-block;
        position: relative;
        top: -28px;
    }
}

main {
    width: 60%;
    min-width: 800px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: grid;
    grid-template-areas:
    "nav content"
        "nav subnav";
    grid-template-columns: 9.5rem auto;

    .nav-decoration {
        border-left: @ci-highlight .5rem solid;
        color: white;

        &:hover {
            background-color: @ci-highlight;
        }

        :visited, :link, :active, :link:hover {
            color: white;
        }
    }

    nav {
        grid-area: nav;
        background-color: @ci-green;
        grid-column: 1;
        line-height: 2rem;
        font-size: .9rem;

        ul {
            list-style: none;
            padding-left: 0;

            li {
                padding-left: .6rem;
                margin-top: .5rem;
                .nav-decoration;
            }
        }
    }

    .subnav {
        grid-area: subnav;
        color: white;
        background-color: @ci-green;
        font-size: .8em;
        line-height: 1.5rem;
        text-align: right;

        ul {
            list-style: none;
            margin: 0;
            padding-left: 0;

            li {
                display: inline-block;
                padding-left: .2rem;
                padding-right: .2rem;
                .nav-decoration;
            }
        }
    }

    .content {
        grid-area: content;
        padding-left: 1rem;
        padding-right: 1rem;
        grid-column: 2;
        background-color: white;
        background-color: @ci-grey;

        h1, h2, h3, h4, h5 {
            text-align: center;
        }

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1.3rem;
        }

        img {
            display: block;
            margin: auto;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

        .shadow {
            box-shadow: .3rem .3rem .5rem gray;
        }

        .gallery {
            display: grid;
            box-shadow: none;

            img {
                .shadow;
            }

            &.noshadow img {
                box-shadow: none;
            }
        }

        .gallery-2 {
            grid-template-columns: .5fr .5fr;
        }

        .gallery-3 {
            grid-template-columns: .33fr .33fr .33fr;
        }

        .gallery-4 {
            grid-template-columns: .25fr .25fr .25fr .25fr;
        }

        figcaption {
            text-align: center;
        }

        dl {
            display: grid;
            grid-template-columns: 30% 70%;
            grid-row-gap: .5rem;
            margin-bottom: 3rem;

            dt {
                grid-column: 1;
            }

            dd {
                grid-column: 2;
            }
        }

        .center {
            text-align: center;
        }
    }
}
